<article class="contact col s12 row" id="contact-#{contact.id}">

  <header class="row">
    <h2 ><%= h @contact.name %></h2>

    <ul class="props inline">
      <li class="chip"><%= link_to 'Visit Website', @contact.url %></li>
      <li class="chip">
        <i class="material-icons">link</i>
        <%= link_to @contact.shortened_url.html_safe, @contact.shortened_url, title: @contact.url %>
      </li>
    </ul>

    <h5>An expert in <span><%= @contact.topics.size %></span> <%= 'topic'.pluralize(@contact.topics.size) %>:</h5>
    <ul class="topics inline chips">
      <%= @contact.topics.map do |t|
        content_tag(:li, h(t.name), class: "chip level-#{t.heading_level}")
      end.join.html_safe %>
    </ul>
  </header>

  <div class="row">

    <section class="experts-search col s7">
      <%= form_tag(contact_path(@contact), method: :get) do %>
        <fieldset>
          <legend>Search <%=h @contact.name %>'s network for other experts</legend>
          <%= label_tag :q, "What topic are you interested in?" %>
          <%= text_field_tag :q, params[:q], type: :search, placeholder: 'e.g. science, math, healthcare, etc.' %>
          <button type="submit" class="btn"><i class="material-icons left">search</i>Search</button>
        </fieldset>
      <% end %>

      <% if params[:q].present? %>
        <div id="search-results">
          <div id="sorts" class="right valign-wrapper">
            Sort results by:

            <%= link_to contact_path(@contact, sort: :distance, q: params[:q]), { title: 'Sort results by Degrees of Separation', class: (:active if params[:sort] != 'expertise') } do %>
              <i class="material-icons">supervisor_account</i>
            <% end %>
            <%= link_to contact_path(@contact, sort: :expertise, q: params[:q]), { title: 'Sort results by Expertise Level', class: (:active if params[:sort] == 'expertise') } do %>
              <i class="material-icons">stars</i>
            <% end %>
          </div>

          <h3>Search Results (<%= @results.count %>)</h3>
          <p>Only showing friends of friends and beyond</p>
        </div>
        <%= render partial: 'search_result', collection: @results %>
      <% end %>
    </section>

    <aside class="friends col s5">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s5"><a class="active" href="#friends">Friends</a></li>
            <li class="tab col s7"><a href="#make_new_friends">Make New Friends</a></li>
          </ul>
        </div>
        <section id="friends" class="col s12">
          <ul class="collection">
          <% if @contact.friends.empty? %><li class='collection-item'>No friends yet</li><% end %>
          <% @contact.friends.to_a.each do |friend| %>
            <li class="collection-item">
              <i class="material-icons left">face</i>
              <%= link_to h(friend.name), friend, title: 'View Profile' %>
              <%= button_to '×', contact_friendships_path(@contact, friend_id: friend.id), method: :delete, title: 'Remove friend', form_class: 'secondary-content', class: 'btn btn-small red lighten-1' %>
            </li>
          <% end %>
          </ul>
        </section>

        <section id="make_new_friends" class="col s12">
          <aside id="make_friends">
            <ul class="strangers collection with-header">
            <li class="collection-header"><em>A stranger's just a friend you haven't met&hellip;</em></li>
            <% Contact.not_friends_with(@contact).find_each do |contact| %>
              <li class="collection-item">
                <i class="material-icons left">person</i>
                <%= link_to h(contact.name), contact, title: 'View Profile', class: 'title' %>
                <%= button_to contact_friendships_path(@contact, friend_id: contact.id), form_class: 'secondary-content', class: 'valign-wrapper btn btn-small' do %>
                  <i class="material-icons left">person_add</i>
                  Add Friend
                <% end %>
              </li>
            <% end %>
            </ul>
          </aside>
       </section>
     </div>
    </aside>
  </div>
</article>

<% content_for :js do %>
<script type="text/javascript">
  var instance = M.Tabs.init(document.querySelector('.tabs'), {});
</script>
<% end %>
